<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmtcyx.miniapi.mapper.ActaExpandMapper" >
  <resultMap id="BaseResultMap" type="com.xmtcyx.miniapi.model.ActaExpand" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="expandname" property="expandname" jdbcType="VARCHAR" />
    <result column="expandres" property="expandres" jdbcType="VARCHAR" />
    <result column="actid" property="actid" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, expandname, expandres, actid, status, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from actaexpand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from actaexpand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xmtcyx.miniapi.model.ActaExpand" >
    insert into actaexpand (id, expandname, expandres, 
      actid, status, createtime, 
      updatetime)
    values (#{id,jdbcType=BIGINT}, #{expandname,jdbcType=VARCHAR}, #{expandres,jdbcType=VARCHAR}, 
      #{actid,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xmtcyx.miniapi.model.ActaExpand" >
    insert into actaexpand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="expandname != null" >
        expandname,
      </if>
      <if test="expandres != null" >
        expandres,
      </if>
      <if test="actid != null" >
        actid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="expandname != null" >
        #{expandname,jdbcType=VARCHAR},
      </if>
      <if test="expandres != null" >
        #{expandres,jdbcType=VARCHAR},
      </if>
      <if test="actid != null" >
        #{actid,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmtcyx.miniapi.model.ActaExpand" >
    update actaexpand
    <set >
      <if test="expandname != null" >
        expandname = #{expandname,jdbcType=VARCHAR},
      </if>
      <if test="expandres != null" >
        expandres = #{expandres,jdbcType=VARCHAR},
      </if>
      <if test="actid != null" >
        actid = #{actid,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmtcyx.miniapi.model.ActaExpand" >
    update actaexpand
    set expandname = #{expandname,jdbcType=VARCHAR},
      expandres = #{expandres,jdbcType=VARCHAR},
      actid = #{actid,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>