<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmtcyx.miniapi.mapper.ShopMapper" >
  <resultMap id="BaseResultMap" type="com.xmtcyx.miniapi.model.Shop" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shopname" property="shopname" jdbcType="VARCHAR" />
    <result column="shopdes" property="shopdes" jdbcType="VARCHAR" />
    <result column="shopaddrress" property="shopaddrress" jdbcType="VARCHAR" />
    <result column="shoptel" property="shoptel" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shopname, shopdes, shopaddrress, shoptel, status, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shop
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shop
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xmtcyx.miniapi.model.Shop" >
    insert into shop (id, shopname, shopdes, 
      shopaddrress, shoptel, status, 
      createtime, updatetime)
    values (#{id,jdbcType=BIGINT}, #{shopname,jdbcType=VARCHAR}, #{shopdes,jdbcType=VARCHAR}, 
      #{shopaddrress,jdbcType=VARCHAR}, #{shoptel,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xmtcyx.miniapi.model.Shop" >
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopname != null" >
        shopname,
      </if>
      <if test="shopdes != null" >
        shopdes,
      </if>
      <if test="shopaddrress != null" >
        shopaddrress,
      </if>
      <if test="shoptel != null" >
        shoptel,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopname != null" >
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="shopdes != null" >
        #{shopdes,jdbcType=VARCHAR},
      </if>
      <if test="shopaddrress != null" >
        #{shopaddrress,jdbcType=VARCHAR},
      </if>
      <if test="shoptel != null" >
        #{shoptel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmtcyx.miniapi.model.Shop" >
    update shop
    <set >
      <if test="shopname != null" >
        shopname = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="shopdes != null" >
        shopdes = #{shopdes,jdbcType=VARCHAR},
      </if>
      <if test="shopaddrress != null" >
        shopaddrress = #{shopaddrress,jdbcType=VARCHAR},
      </if>
      <if test="shoptel != null" >
        shoptel = #{shoptel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmtcyx.miniapi.model.Shop" >
    update shop
    set shopname = #{shopname,jdbcType=VARCHAR},
      shopdes = #{shopdes,jdbcType=VARCHAR},
      shopaddrress = #{shopaddrress,jdbcType=VARCHAR},
      shoptel = #{shoptel,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>